aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.2
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
click==8.1.2
colorama==0.4.4
discord==1.7.3
discord.py==1.7.3
docutils==0.18.1
Flask==2.1.1
frozenlist==1.3.0
future==0.18.2
idna==3.2
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
keyboard==0.13.5
MarkupSafe==2.1.1
MouseInfo==0.1.3
multidict==5.1.0
nextcord==2.0.0a10
numpy==1.21.4
pefile==2021.9.3
Pillow==8.4.0
PyAutoGUI==0.9.53
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.28
python-dotenv==0.20.0
pytweening==1.0.4
pywin32==302
pywin32-ctypes==0.2.0
requests==2.26.0
soupsieve==2.3.1
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.1.1
yarl==1.6.3
zipp==3.8.0
